@import '~bootstrap-v4-rtl/scss/bootstrap-rtl.scss';

body {
  background-color: #eee;
  &:root {
    direction: rtl;
  }
}

.main-container {
  background-color: white;
  padding: 1em;
}

.signature-container {
  position: relative;
  width: 100%;
  height: 200px;

  canvas {
    position: absolute;
    border: 1px dashed #aaa;
  }

  .sig-controls {
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
  }
}
